#holderdiv {
    display: none;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
body {
    position: relative;
    overflow: hidden;
}
button {
    margin: 10px;
}